<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meal_monkey">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
     <meta-data android:name="com.google.android.geo.API_KEY" 
android:value="AIzaSyDwI65xkwsl60Ndr0ONmn8PFQHs4KBfwf4"/>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
